<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/" >SeneSurf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupporteéContent">
      <ul class="navbar-nav mr-auto">
        <li class="dropdown" dropdown nav-link dropdown-toggle >
            <a dropdownToggle class="nav-link dropdown-toggle" role="button">Surf Spots</a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['surfSpotStream', 'Le-Virage']">Le virage</a>
                <a class="dropdown-item" [routerLink]="['surfSpotStream', 'Vivier']">Vivier</a>
                <a class="dropdown-item" [routerLink]="['surfSpotStream', 'Yoff-Beach']">Yoff</a>
                <a class="dropdown-item" [routerLink]="['surfSpotStream', 'Baiesdes-Carpes']">Baie des Carpes</a>
                <a class="dropdown-item" [routerLink]="['surfSpotStream', 'Corniche-Ouest']">Corniche Ouest</a>    
            </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"  
            routerLink="/evenements">Evenements  
            <span class="sr-only">(current)</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/restaurants">Restaurants</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/boutique">Boutique</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/prestations" >Cours et Surf trips</a>
        </li>
      </ul>


      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
    </div>
  </nav>
  